h1 {
  padding-top: 100px;
  color: rgb(14, 7, 7);
  text-align: center;
  font-size: 40px;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
}
label {
  color: beige;
  margin: 0 auto;
  display: block;
}
div {
  font-family: "Playfair Display", serif;
  border: 20px, solid black;
  color: rgb(25, 18, 27);
}

input {
  background-color: honeydew;
  color: rgb(20, 15, 22);
  border-radius: 4px;
  box-shadow: 10px 5px 5px;
}
button {
  padding: 20px;
  margin: 0 auto;
  display: block;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  box-shadow: 10px 5px 5px;
}
li {
  list-style: none;
  font-weight: bolder;
  color: black;
}
body {
  background-image: url("images/weatherimage.jpg");
}

.container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid gray;
  background-color: ghostwhite;
  border-radius: 30px;
  box-shadow: 10px 5px 5px;
}
.images {
  display: block;
  margin: 0 auto;
}
.search-button {
  display: block;
  margin: 0 auto;
}
.search-bar {
  display: block;
  margin: 0 auto;
}
.search-tag {
  text-align: center;
}
.date {
  text-transform: capitalize;
}
.temp {
  font-size: 40px;
  text-transform: capitalize;
  color: rgb(218, 153, 239);
}
.weather-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px;
  background-color: ghostwhite;
  border-radius: 30px;
  box-shadow: 10px 5px 5px;
}
